// Header

// Submenus
.collapse-inner .collapse-item {
    white-space: normal !important;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    opacity: unset !important;
}

.navbar {
    padding: .5rem 1rem !important;
}

.small,
small {
    font-size: 80% !important;
    font-weight: 400 !important;
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0 .75rem !important;
}

.badge {
    padding: .25em .4em !important;
}

#page-top {
    padding-top: 70px;
}

.custom-top-bar {
    background-color: #4e73df;
    background-size: cover;
}